.project {
  margin-top: 90px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.heading {
  margin-bottom: 100px;
}

.pro {
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-b4 {
  background: #5e5df0;
  border-radius: 999px;
  box-shadow: #5e5df0 0 10px 20px -10px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  font-family: Inter, Helvetica, "Apple Color Emoji", "Segoe UI Emoji",
    NotoColorEmoji, "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji",
    EmojiSymbols, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue",
    "Noto Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
  margin-top: 10px;
}

.card {
  position: relative;
  max-width: 450px;
  height: 123px;
  border-radius: 10px;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5);
  transition: 0.3s;
  /* padding: 30px 50px; */
  background: #fff;
  cursor: pointer;
  margin-right: 30px;
}

.card:hover {
  height: 390px;
}

.imgbox {
  position: relative;
  max-width: 451px;
  height: 200px;
  transform: translateY(-80px);
  z-index: 99;
}

.imgbox img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5);
}

.content {
  padding: 10px 20px;
  text-align: center;
  transform: translateY(-260px);
  opacity: 0;
  transition: 0.3s;
}

.card:hover > .content {
  opacity: 1;
  transform: translateY(1px);
}

.content h3 {
  color: #7f9ead;
}
