.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  margin: 50px 50px 50px 50px;
}

.skills h1 {
  font-size: 40px;
}

.skills-grid {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
  border-radius: 16px;
  box-shadow: none;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;

  padding: 20px;
  height: 80%;
}

.skills-html,
.skills-javascript,
.skills-react,
.skills-mern {
  font-size: 20px;
  color: rgb(132, 132, 237);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.skills-html span {
  width: 85%;
  height: 20px;
  background-color: rgb(244, 148, 148);
  border-radius: 20px;
}

.skills-javascript span {
  width: 65%;
  height: 20px;
  background-color: rgb(244, 148, 148);
  border-radius: 20px;
}

.skills-react span {
  width: 60%;
  height: 20px;
  background-color: rgb(244, 148, 148);
  border-radius: 20px;
}

.skills-mern span {
  width: 35%;
  height: 20px;
  background-color: rgb(244, 148, 148);
  border-radius: 20px;
}
