.home {
  height: 100vh;
  margin-top: 20vh;
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
}

.home-name {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font: bold;
  color: rgb(153, 153, 236);

  font-style: italic;
}
.home-img {
  width: 400px;
  height: 400px;
  box-shadow: 0 25px 15px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin-left: 72vh;
}

.home-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.home-lines {
  color: blueviolet;
  font-size: 30px;
}
