.navBar {
  background: black;
  box-shadow: 0 25px 15px rgba(232, 229, 229, 0.1);
  position: fixed;
  top: 0;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  z-index: 9;
  margin-bottom: 5px;
}

h1{
    color: #5e5df0;
}
.links-container h1{
    font-size: 2vw;
}

/* .nav-center {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
} */

.links-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.25rem;
}


.links {
  display: flex;
  justify-content: space-between;
  list-style: none;
  gap: 30px;
  font-size: 2vw;
}

a {
  text-decoration: none !important;
  color: #fbeaeb;
}

.social-icons {
  display: flex;
  list-style: none;
  justify-content: space-between;
  gap: 30px;
}

.social-icons li {
  font-size: 2vw;
}

