nav {
    background: #fff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    width: 100%;
    position: fixed;
    top: 0;
}

.nav-center {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-header {
    display: flex;
    align-items: center;
    padding: 0.5rem;
}

.nav-header img {
    height: 100px;
}

.links {
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 30px;
    font-size: 30px;
}

a {
    text-decoration: none;
}

.social-icons {
    display: flex;
    list-style: none;
    justify-content: space-between;
    gap: 30px;
}

.social-icons li {
    font-size: 30px;
}

.extraSpace{
    background-color: #6f65c1;
    height: 200vh;
    width: 100%;
}