/* nav {
  background: #fff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
.nav-toggle {
  font-size: 1.5rem;
  color: hsl(205, 78%, 60%);
  background: transparent;
  border-color: transparent;

  cursor: pointer;
}
.nav-toggle:hover {
  color: hsl(205, 86%, 17%);
  transform: rotate(90deg);
}
.logo {
  height: 40px;
}
.links a {
  color: hsl(209, 34%, 30%);
  font-size: 1rem;
  text-transform: capitalize;
  letter-spacing: 0.1rem;
  padding: 0.5rem 1rem;
  display: block;
}
.links a:hover {
  background: hsl(205, 86%, 81%);
  color: hsl(205, 78%, 60%);
  padding-left: 1.5rem;
}
.social-icons {
  display: none;
}
.links-container {
  height: 0;
  overflow: hidden;
}
.show-container {
  height: 10rem;
} */

nav {
  background: #fff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.nav-header {
  display: flex;
  align-items: center;
  padding: 1rem;
}

.links {
  display: flex;
  justify-content: space-between;
}
