@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Merriweather Sans", sans-serif;
}
body {
  padding: 0;
  box-sizing: border-box;
}
